.messages{
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-bottom: 60px;
    box-shadow: 2px 2px 5px 5px rgb(6, 6, 15);
    border-radius: 10px;
    background-color: rgb(4, 3, 19);
    color: white;
    font-size: 30px;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 24px;
}