.chat{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;

    span{
        font-size: 23px;
        position: absolute;
        left: 10px;
        top: 0;
        padding-top: 5px;
    }
}