.chats {
    .userChat {
      margin-top: 15px;
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
  
      p {
        margin: 0;
        margin-top: 5px;
      }
    }
  
    .userChatInfo {
      box-shadow: 2px 2px 5px 5px rgb(6, 6, 15);
      border-radius: 10px;
      width: 200px;
      text-align: center;
      cursor: pointer;
  
      span {
        font-size: 15px;
      }
    }
  
    .userChatInfo p {
      max-width: 100%;
      font-size: 13px;
      color: gray;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  }