.text-input{
    margin-top: 5px;
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 97%;
    bottom: 0;

    input{
        background: rgb(12, 12, 44);;
        outline: none;
        color: white;
        box-shadow: 2px 2px 5px 5px rgb(6, 6, 15);
        border-radius: 10px;
    }

    .sendsvg{
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
    }
}