.sidebar{
    width: 25%;
    height: 100%;
    border-right: solid rgb(23, 23, 37) 2px;

    .search{
        margin: auto;
    }

    h2{
        font-size: 20px;
    }

    .logout{
        cursor: pointer;
        position: absolute;
        top: 23px;
        left: 5px;
        border-radius: 15px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
    }
}