.message{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;

    .you{
        color: gray;
        font-size: 11px;
        margin-top: -5px;
    }

    .message-content{
        padding-left: 20px;
    }

    p{
        margin: 0;
    }

    &.owner{
        flex-direction: row-reverse;

        .message-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 0;
            padding-right: 20px;
            padding-bottom: 0;
        }
    }
}